body {
  background-color: white;
  background-blend-mode: lighten;
}

.Skills {
  border-radius: 50%;
  width: 100%;

}
.row{
  background-image: url('images/yogesh.JPG');
  background-size: cover;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;

}

li a {
  display: block;
  padding: 8px;
  text-decoration: none;

}

li a:hover {
  border: none;
  display: block;
  outline: 0;
  background-color: grey !important;
}

.name {
  color: black;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

}

h1 {
  color: slategray;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  color: whitesmoke;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  color: whitesmoke;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
  color: whitesmoke;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

iframe {
  width: 100%;
  height: 50%;


}

#aboutself {
  width: 58%;
     
}

#profilepic {
  width: 39%;
  opacity: 0.5;
  
   

}

.column {
  float: left;
  padding: 10px;
  height: 300px;
  
}

.left {
  width: 51%;
}

.right {
  width: 35%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.picpro {
  
  float: right;
  background-blend-mode: overlay;
  border-radius: 50%;
    width: 314px ;
    height: 281px;
}



a {
  background-color: transparent;
}
div.map{
  margin: 10px;
}
footer {
  width: auto;
}
details {
  color: black;
}
.skills {
  padding-inline: 108px;
}
#Menus{
  background-color: #757575;
}
div.social-media{
  width:384px;;
  float: right;
  display: block;
  display: block;
    margin: -90px;
}
.icon{
padding: 4px;}